* {
	margin: 0;
	box-sizing: border-box;
}

.app {
	font-family: sans-serif;
	font-size: 1rem;
	color: rgb(228, 31, 24);
	background: url("./mundo.jpg") no-repeat;
	background-size: cover;
	height: 100vh;
}
